//
   Created by Дмитрий on 23.11.2016.
extends sources

block sources_form
    h3 Добавить новый источник
    //p Hello page shown HELLO HELLO HELLO #{title}
    form(action='/sources/add_source/', name="add_source_form", method="post")
        div.input
            span.label Название источника
            br
            input(type="text", name="source_name", placeholder="Название источника")
            br
        div.input
            span.label Описание источника
            br
            input(type="text", name="description", placeholder="Описание источника", value="Опишите источник")
            br
        div.input
            span.label Тип источника
            br

            select(name="source_type")
                each source_type in source_types
                    option(value=source_type.type) #{source_type.type}
            h5= source_types_status
        //div.input
            span.label Тип источника
            br
            input(type="text", name="source_type", placeholder="Тип источника")
            br
        div.input
            span.label URL источника
            br
            input(type="text", name="source_url", placeholder="URL источника")
        div.actions
            input(type="submit", value="add")

