//
   Created by Дмитрий on 20.03.2017.
extends layout

block content
    p= "Контент: " + item.title
    div.ontology
    h3="Онтология :" + ontology_status
    p= ontology
    - console.log(ontology);

