//
   Created by Дмитрий on 19.03.2017.

extends layout
block content
    h1 Список источников
    //список ресурсов и возможных действий с ними
    - var i = 0;
    ul
        each source_type in source_types
            - i++;
            li
                p= i + "  " + source_type.type + ": " + source_type.parser
                form(action='/delete_source_type', name="delete_source_type_form", method="post")
                    input(type="hidden", name="source_type_id", value = source_type.id)
                    div.actions
                        input(type="submit", value="Удалить")
                //a(href="get_source_type/" + source_type.id) Изменить
    block add_source_type_form