//
   Created by Дмитрий on 06.12.2016.
//
extends layout
h1= status

block content
    //список ресурсов и возможных действий с ними
    - var i = 0;
    ul
        each source in sources
            - i++;
            li
                p= i + "  " + source.name + ": " + source.type

                a(href="/sources/get_source?source_url=" + source.url) Просмотреть
                form(action='/sources/delete_source/', name="delete_source_form", method="post")
                    input(type="hidden", name="source_url", value = source.url)
                    div.input
                        input(type="checkbox", name="delete_content", value=false)
                        span.label Удалить вместе с контентом
                        br
                    div.actions
                        input(type="submit", value="Удалить")
    block sources_form

