//
   Created by Дмитрий on 19.03.2017.

extends layout
block content
    h1 Типы источников
    //список ресурсов и возможных действий с ними
    - var i = 0;
    ol
        each source_type in source_types
            //- i++;
            li
                p= "Тип источника: " + source_type.type
                p= "Парсер источника: " + source_type.parser
                p= "Тип источника добавлен пользователем " + source_type.added_by
                form(action='/delete_source_type', name="delete_source_type_form", method="post")
                    input(type="hidden", name="source_type_id", value = source_type.id)
                    div.actions
                        input(type="submit", value="Удалить")
                //a(href="get_source_type/" + source_type.id) Изменить
    block add_source_type_form