//
   Created by Дмитрий on 06.12.2016.
//
//extends layout


h2= title
block content

h3 1 alias: Скринкаст по Node.JS; type: Youtube channel/playlist; Parsed: yes; Source_url: https://www.youtube.com/playlist?list=PLDyvV36pndZFWfEQpNixIHVvp191Hb3Gg
h3 2 alias: Ilya Kantor; type: Youtube channel/playlist; Parsed: yes; Source_url: https://www.youtube.com/channel/UCKPbiit_j8ycmkutM0wVzdA
//block add_source_form
