body {
  padding: 20px;
  padding-left: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00A1CC;
  text-decoration: none
}

a:hover {
  color: white;
  background-color:  #4CAF50;
  text-decoration: none
}

ul.navigation_bar {
  list-style-type: none;

  padding-bottom: 50px;
  padding-left : 0;
}

.status {
  color : red
}



ul.navigation_bar > li a {
  text-decoration: none;
  color : black;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  float: left;
  padding-right: 30px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
  font-size: 12pt;
  background-color: #EEE
}

ul.navigation_bar > li a:hover {
  background-color:  #4CAF50;
  color: white;
}